.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;    
    display: inline-block;
    margin-right: 10px;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
  }