*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(./images/bg-hero-desktop.svg);
    display: flex;
}

.texts h1{
    font-size: 40px;
}

texts p{
    font-size: 20px;
}


