body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .navbar a {
    text-decoration: none;
    color: orange; 
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.2s ease;
  }
  .navbar a:hover {
    color: blue;
  }
  
  .navbar a:active {
    color: red;
  }
  