@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white ;
}

.imgg{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 0px, 10px,10px, 0px;
}

.texts h1{
    font-size: 40px;
    color: hsl(217, 19%, 35%);
}

.texts p{
    font-size: 20px;
    font-weight: 15px;
    color:hsl(214, 17%, 51%) ;
}

.person img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.person h2{
    font-size: 20px;
}

