.div1{
    width: 200px;
    height: 600px;
    border: 2px solid red;
    background-image: url(./images.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}