.div1{
    width: 500px;
    height: 500px;
    border: 2px solid red;
    background-image: url(./images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}