.parrent{
    width: 600px;
    height: 600px;
    border: 2px red;
    display: grid;
    grid-template-rows: repeat(4,200px);
    grid-template-columns: repeat(4,200px);
}

.one{
    background-color: yellow;
    grid-column: 1/5;
    grid-row: 1/5;
}