.div{
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: divv;
    animation-duration: 0.5s;
    animation-iteration-count:infinite;
}

@keyframes divv{
    from{
        opacity: 1;
    }

    to{
        opacity: 0.3;
    }
}