.btn{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-duration:2s ;
    animation-iteration-count: 3;
    animation-name: btnn;
}

@keyframes btnn{
    from{
        transform: translateX(-200px)
    }

    to{
        transform: translateX(0);
    }
}