.div{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: scale(2);
}

.div2{
    width: 100px;
    height: 100px;
    background-color: red;
    transform:translate(200px);
}